@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes vibration {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-4px);
  }
}

@keyframes scaleLetter {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes rotateIn {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes rotateOut {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.animate-vibrate {
  animation: vibration 0.8s ease-in;
}
.animate-letter {
  animation: scaleLetter 0.1s ease-in;
}
.animate-rotate-in {
  animation: rotateIn 0.5s ease-in;
}
.animate-rotate-out {
  animation: rotateOut 0.5s ease-in;
}
